.header {
    font-style: italic;
    background-color: aquamarine;
    text-align: center;
}
.col-4 {
    border: 1px solid black;
    margin-right: 10px;
}
.col-7 {
    border: 1px solid black;
}
.daycast {
    border: 1px solid black;
    margin: 5px;
}
.forecastTitle {
    display: flex;
    justify-content: center;
}
.high {
    background-color: red;
    padding: 10px;
    border-radius: 10%;
    color: white;
}
.medium {
    background-color: yellow;
    padding: 10px;
    border-radius: 10%;
    color: black;
}
.low {
    background-color:green;
    padding: 10px;
    border-radius: 10%;
    color: white;
}
#searchResults {
    list-style: none;
}