.header {
    font-style: italic;
    background-color: aquamarine;
    text-align: center !important;
}
.col-sm-4 {
    /* background-color: slategrey; */
    margin-right: 20px;
}
.col-7 {
    border: 1px solid black;
}
.daycast {
    background-color: powderblue;
    margin: 5px;
    border-radius: 5%;
}
.forecastTitle {
text-align: center !important;
color: salmon;
}
.high {
    background-color: red;
    padding: 10px;
    border-radius: 10%;
    color: white;
}
.medium {
    background-color: yellow;
    padding: 10px;
    border-radius: 10%;
    color: black;
}
.low {
    background-color:green;
    padding: 10px;
    border-radius: 10%;
    color: white;
}
#searchResults {
    list-style: none;
}
.list-group-item {
    border: none;
}
.headerText {
    text-align: center !important;
}